.Carrito {
    height: 100%;
    text-align: center;
    padding: 1em 5em;  
}

.Carrito .carrito__pedir, .carrito .carrito__borrar {
    color: whitesmoke; 
    border:solid 1px whitesmoke;
    background-color: #ec5151;
    padding: 0.5em;
    border-radius: 0.5em;
    font-size: 1em;
    width: 100px;
}   

.carrito .carrito__pedir:hover, .carrito .carrito__borrar:hover{
    background-color: whitesmoke;
    color: #ec5151;
    border:solid 1px #ec5151;
}

.carrito h1 {
    color: #0B3954;
    font-size: 2em;
    margin: 1em auto;
    text-shadow: 4px 4px 10px black;
    letter-spacing: 0.3em;
}
.carrito #pie-button{
    margin-top: 2em; 
    display: flex;
    justify-content: center;
    
}