@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@300&display=swap');

.Nosotros {
    height: 100%;
    text-align: center;
    padding: 1em 5em;  
    margin-top: 13em; 
}

.Nosotros h1{
    color: #0B3954;
    font-size: 2em;
    margin: 1em;
    text-shadow: 4px 4px 10px black;
    letter-spacing: 0.3em;
    text-align: center;
}
.Nosotros  p::first-letter{
    color: #0B3954;
    /* font-weight: bold; */
    font-size: 1.5em;
}
.Nosotros p{
    text-align: justify;
    margin: 1em;
   /*  padding: 0.8em; */
    /* font-weight: bold; */
    line-height: 1.5em;
}
.texto{
   /*  background-color: #ec5151;
    border-radius: 0.5em; */
    margin: 3em auto;
    padding: 1.5em;
    border: 1px solid #ec5151;
    width: 50%;
}

@keyframes miMovimiento2 {
    0%{
        transform: translateX(10em);
    }
    50%{
        transform: translateX(-10em);
        
    }
    75%{
        transform: translateX(20em);

    }
    100%{
        transform: translateX(-20em);

    }
}
.Nosotros  #animacion-logo{
    width: 20em;
    margin-top: 2.5em;
    margin-bottom: 5em;

    animation-name: miMovimiento2;
    animation-duration: 5s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: both;
    animation-play-state: running; 
}

@media screen and (max-width:768px){
    .texto{
        margin: 2em 2em;
    }
    p{
        font-size: 0.7em;
    }
    #animacion-logo{
        width: 10em;
    }
    @keyframes miMovimiento2 {
        0%{
            transform: translateX(2em);
        }
        50%{
            transform: translateX(-2em);
            
        }
        75%{
            transform: translateX(4em);
    
        }
        100%{
            transform: translateX(-4em);
    
        }
    }
}


