.TablaFavoritos table{
    width: 70%;
}


.TablaFavoritos table tr td {
     border-top: 1px solid #0B3954;
     padding: 1em;
     font-weight: bold; 
     font-size: 0.8em;
     color: #0B3954;
     letter-spacing: 0.1em;

 }

 .TablaFavoritos table tr td img{
    width: 80px;
}

.TablaFavoritos .btn-borrar{
    color: #0B3954;
    padding: 1em;
    font-weight: bold; 
    font-size: 1em;
    letter-spacing: 0.1em;
    outline: none;
    border: none;
    background-color: transparent;
}

.TablaFavoritos .btn-borrar:hover{
    text-shadow: 3px 3px 4px #0B3954;
}